.imageProduct{
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: center center;
}

.filters{
    display: flex;
    gap: 10px;
    padding: 120px 10px 10px 10px;
}
.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

.category-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 200px;
}

.product{
    max-width: 373px;
    padding: 20px;
    border: 1px solid #a4a4a4;
    border-radius: 12px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.productList{
    position: absolute;
    top: 182px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.categoryProduct{
    font-size: 18px;
    color: gray;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nameProduct{
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.descriptionProduct{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.buttonProductAdd{
    cursor: pointer;
    padding: 15px 10px 15px 10px;
    font-size: 18px;
    color: white;
    border-radius: 12px;
    border-width: 0;
    background-color: #11850a;
    margin-top: auto;
}
.buttonProductAdd:hover{
    background-color: #125b0d;

}

.buttonProductReview{
    cursor: pointer;
    padding: 15px 10px 15px 10px;
    margin-top: 10px;
    font-size: 18px;
    color: white;
    border-radius: 12px;
    border-width: 0;
    background-color: #0f6fa2;

}
.buttonProductReview:hover{
    background-color: #15557c;

}